body {
  background-color: lightpink;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%3E%3Ccircle%20cx%3D'1'%20cy%3D'1'%20r%3D'1'%20fill%3D'%23f37f94'%2F%3E%3C%2Fsvg%3E");
  background-size: 24px 24px;
  min-height: 100vh;
  overflow-x: hidden;
  animation: fadeIn 0.5s ease-in-out; /* used for creating soft transition between pages*/
}

@keyframes fadeIn {
  /* allows for fade-in-out effect to create a soft transition*/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  color: red;
  font-family: Inter;
  font-size: 2rem;
}
